// app global css in Sass form

h1, .text-h1
  font-size: 2em
  text-align: center
  line-height: 1.2em

body
  font-size: 1em
  background-color: $grey-3

h2, .text-h2
  font-size: 1.5em
  line-height: 1

.my-card
  width: 400px

.my-btn
  width: 100px

.my-btn-large
  width: 200px

.my-red-button
  background-color: $red-4